doc/html
doc/latex
doc/man
vc-benchmarks
*.swp
*~
.makeApidox.stamp
.makeApidox.stamp.new
build-*

# conan
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
test_package/build